 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,2,1,0.5)25%, rgba(0,2,1,0.5)25%), url(Screenshot.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
    position: relative;
    z-index: 5;

}

.navBar{
    width: auto;
    height: 75px;
    margin: auto;
    display: relative;
}

.contact-us{
 position: absolute;
    top: 28px;
    right: 40px;
}

.contact-us a {
    text-decoration: none;
    color: skyblue;
    font-size: 16px;
    font-family: monospace;
}
.icon{
    width: auto;
    float: left;
    height: 50px;
    display: absolute;
}

.logo{
    color: rgb(15, 242, 219);
    font-size: 35px;
    font-family: Arial;
    padding-left: 15px;
    float: left;
    padding-top: 10px;

}

.menu{
    width: auto;
    float: left;
    height: 70px;
    display: absolute;
}

ul{
    float: left;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-wrap: wrap;
}

ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 14px;
    

}

ul li a{
    text-decoration: none;
   color:white;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color: aqua;
}

.srch{
    font-size: inherit;
    width: 90px;
    height: 30px;
    background:transparent;
    border: 2px solid rgb(12, 163, 239);
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    margin-left: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: absolute;
    right: 20px;
}

.btn{
    width: 80px;
    height: 30px;
    background-color: rgb(12, 157, 230);
    border: 2px solid rgb(8, 173, 233);
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: absolute;

}

.btn:focus{
    outline: none;
    }

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: absolute;
    top: 100px;
    

    z-index: 10;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    initial-letter: 2px;
}

.content span{
    color: #fff;
    font-size: 60px;
}

.form{
    width: 300px;
    height: 380px;
    background: linear-gradient(to top,rgba(15, 233, 226, 0.8) 50%,rgba(5, 238, 223, 0.8) 50%);
    position: absolute;
    top: 150px;
    right: 40px;
    border-radius: 10px;
    padding: 25px;
    z-index: 23423;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(18, 207, 210);
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(11, 138, 217);
    border-top: none;
    border-right: none;
    border-left: none;
    color:black;
    font-size: 15px;
    initial-letter: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}
::placeholder{
    color: black;
    font-family: Arial;
}

.bttn{
    width: 240px;
    height: 40px;
    background: rgb(11, 138, 217);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.2s ease-in-out;
}

.bttn:hover{
    background-color: #f10797;
    color:white;
}

.bttn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: white;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
} 

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color:rgb(6, 193, 245);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }